<% if @complete %>
	<h2>Listing finished tasks</h2>
<% else %>
	<h2>Listing active tasks</h2>
<% end %>
<br />
<br />

<table>
  <tr>
    <th>Short</th>
    <th>Priority</th>
    <th>Project</th>
    <th style="width:85px;">Created</th>
    <% if @complete %>
			<th style="width:85px;">Done</th>
		<% end %>
		<th>
			<% form_tag tasks_path, :method => 'get' do  %>
				<%= hidden_field_tag :complete, @complete %>
				<%= text_field_tag :filter, params[:filter] ,{:size => 8} %>
				<%= submit_tag 'Go', :name => nil %>
			<% end %>
		</th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%=h task.short %></td>
	<td><%=h ENV[task.priority.to_s] %></td>
	<td><%=h task.project.name %></td>
	<td style="width:85px;"><%=h task.created_at.strftime("%H:%M %d-%m-%y") %></td>
	<% if @complete %>
		<td style="width:85px;"><%=h task.updated_at.strftime("%H:%M %d-%m-%y") %></td>
    <% end %>
    <td><%= link_to 'Show', task %> | 
    <% if !@complete %>
		<%= link_to 'Edit', edit_task_path(task) %> | 
	<% end %>
    <%= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @tasks %>
<br />
<br />

<%= link_to 'New task >>', new_task_path %>
